<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @preparation_tip.name %>
</p>

<%= link_to 'Edit', edit_preparation_tip_path(@preparation_tip) %> |
<%= link_to 'Back', preparation_tips_path %>
